* {
  font-family:'Hiragino Sans GB', Helvetica, Arial, 'STHeiti', 'WenQuanYi Micro Hei', sans-serif
}

.searchTxt {
  width: 480px;
  padding: 10px;
  outline: none;
  border: 0;
  position: fixed; 
  top: 0;
  border-bottom: #DDD 1px solid;
  font-size: 30px;
  z-index: 1000;
  background-color: rgba(255, 255, 255, 0.95);
  
}

.list-wraper {
   width: 400px;
   padding-top: 50px;
   min-height: 400px;
}
 

.repo-item {
  margin: 10px 0;
  position: relative;
  overflow: hidden;
  min-height: 60px;
  padding-right: 30px;
  border-bottom: #DDD 1px solid;
  padding-bottom: 10px;
  
}

.repo-item .innner {
  padding-left: 60px;
  height: 50px;
}

.repo-item .cover {
  width: 50px;
  height: 50px;
  border-radius: 4px;
  position: absolute;
  left: 0;
}

.repo-item h3 {
  margin-top: 2px;
  margin-bottom: 7px;
  font-size: 17px
}

.repo-item .desc {
  color: #3a3a3a;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.repo-extra {
  color: #767676;
  margin: 0;
  padding: 0;
  margin-top: 10px;
}
.repo-extra li {
  list-style: none;
  display: inline-block;
  margin-right: 7px;
}
.repo-extra li * {
  float: left;
  display: inline-block
}
.repo-extra li span {
  margin-top: 2px
}

.repo-extra svg {
  fill: #767676;
  float: left;
  margin-right: 3px;
}

.fresh {
  display: inline-block;
  background-color: #EEE;
  border-radius: 100%;
  width: 15px;
  height: 15px;
  position: absolute;
  right: 0;
  top: 30px;
}

.fresh.often {
  background-color: #A4EDA4;
}

.fresh.outdated {
  background-color: #FFBCBC;
}

.loading-list {
  margin-top: 50px
}

kbd {
  background-color: #000;
  color: #FFF;
  background-color: #000;
  color: #FFF;
  font-size: 15px;
  padding: 5px 10px;
  border-radius: 4px;
}

.sub-item {
  text-align: center;
<<<<<<< HEAD
  border-bottom: #DDD 1px solid
}


.icon {
  width: 15px; 
  height: 15px;
}

.icon-flip-horizontal {
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=0, mirror=1);
    -webkit-transform: scale(-1, 1);
    -ms-transform: scale(-1, 1);
    transform: scale(-1, 1);
=======
  border-bottom: #DDD 1px solid;
>>>>>>> tmp
}