<!DOCTYPE html>
<html>
  <head>
    <link href="../css/main.css" rel="stylesheet" />
    <link href="../css/loading.css" rel="stylesheet" />

    
  </head>
  <body>
    <input type="text" id="searchTxt" autofocus placeholder="Keyword + Enter or type `:`" class="searchTxt" @keyup="keyChange()" @keyup.13="searchGo()" v-model="keyword">
    <div class="list-wraper">
      <div class="repo-item" v-for="item in repos" :key="item.id" v-show="isListRepos && !isring">
        <div class="innner">
          <a href="https://www.awesomes.cn{{item.link_url}}" target="_blank">
            <img class="cover" src="{{item.cover_path}}@1e_50w_50h_1c_0i_1o_1x.png" />
          </a>
          <span class="fresh {{item.fresh[0]}}" title="{{item.fresh[1]}}" v-show="view == 'repos'"></span>
          <i class="rank" v-show="view == 'tops'">{{$index + 1}}</i>
          <a href="https://www.awesomes.cn{{item.link_url}}" target="_blank">
            <h3>{{item.name}}</h3> 
          </a>
          <div class="desc">{{item.description_cn}}</div>
          
        </div>

        <ul class="repo-extra">
          <li  title="趋势">
            <svg class="icon">
                <use xlink:href="/css/icon.svg#rank-{{item.trend}}"></use>
            </svg>
            <span class="category">{{item.typcd_zh}}</span>
          </li>
          <li  title="在用">
              <svg class="icon icon-flip-horizontal" >
                  <use xlink:href="/css/icon.svg#hand-lizard-o"></use>
              </svg>
              <span>{{item.using}} </span>
            </li>  
          <li  title="Issue响应速度">
              <svg class="icon">
                  <use xlink:href="/css/icon.svg#issue"></use>
              </svg>
              <span>{{item.issue_friendly}} </span>
            </li>
          <li  title="Star数">
              <svg class="icon">
                  <use xlink:href="/css/icon.svg#favor"></use>
              </svg>
              <span>{{item.stargazers_count}} </span>
            </li>
          </ul>
      </div>

      <! --加载动画 -->
      <div class="loading loading-list" v-show="isring">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
      </div>

      <! --专题列表 -->
      <div class="subject" v-show="view == 'subject'">
        <div class="sub-item" v-for="item in subs">
          <h3>{{item.key}}</h3>
        </div>
      </div>

      <! --添加repo -->
      <div v-show="view == 'add'" class="add-wraper">
        
        <p>提交当前库</p>
        <p>{{current_url ? current_url : '当前URL的格式不满足要求'}}</p>
        <select v-model="category">
          <option v-for="typ in categorys" value="{{typ.key}}"> {{ typ.sdesc }} </option>
        </select>

        <div>
          <button type="button" @click="addNewRepo()" v-show="current_url && addstatus == 'ready'">提交</button>
        </div>

        <div class="alert alert-success" v-show="addstatus == 'success'">提交成功，感谢你的分享，我们将尽快审核</div>
      </div>

      <! --命令说明 -->
      <div v-show="view == 'help'" class="help-wraper">
          <h3>命令模式</h3>
          <ul>
            <li><kbd>:+</kbd> 提交库</li>
            <li>
              <kbd>:top</kbd> 获取前端 top100 框架
              <ul>
                <li>
                  <kbd>:top[:排序方式]</kbd> :top:trend（趋势，默认）:top:hot（热门）
                </li>
              </ul>
            </li>

            <li>
              <kbd>:s</kbd> 获取所有专题 
              <ul>
                <li>
                  <kbd>:s[:专题名]</kbd> 获取具体某个专题
                </li>
              </ul>
            </li>
            
            
            
          </ul>
          
      </div>
    </div>
    <script src="../js/jquery.js"></script>
    <script src="../js/vue.min.js"></script>
    <script src="../js/store.min.js"></script>
    <script src="../js/popup.js"></script>
    <script src="../js/main.js"></script>
  </body>
</html>