<!DOCTYPE html>
<html>
  <head>
    <link href="../css/main.css" rel="stylesheet" />
    <link href="../css/loading.css" rel="stylesheet" />

    
  </head>
  <body>
    <input type="text" id="searchTxt" autofocus placeholder="Type keyowrd and press enter key" class="searchTxt" @keyup="keyChange()" @keyup.13="submit()" v-model="keyword">
    <div class="list-wraper">
      <div class="repo-item" v-for="item in repos" v-show="view == 'repos' && !isring">
        <div class="innner">
          <img class="cover" src="{{item.cover_path}}@1e_50w_50h_1c_0i_1o_1x.png">
          <span class="fresh {{item.fresh[0]}}" title="{{item.fresh[1]}}"></span>
          <h3>{{item.name}}</h3> 
          <div class="desc">{{item.description_cn}}</div>
          <p>
            <span class="category">{{item.typcd_zh}}</span>
            <svg aria-hidden="true" class="octicon octicon-star" height="16" version="1.1" viewBox="0 0 14 16" width="14"><path d="M14 6l-4.9-.64L7 1 4.9 5.36 0 6l3.6 3.26L2.67 14 7 11.67 11.33 14l-.93-4.74z"></path></svg>

            <span>{{item.stargazers_count}} </span>
          </p>
        </div>
        
      </div>

      <! --加载动画 -->
      <div class="loading loading-list" v-show="isring">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
      </div>

      <! --专题列表 -->
      <div class="subject" v-show="view == 'subject'">
        <div class="sub-item" v-for="item in subs">
          <h3>{{item.key}}</h3>
        </div>
      </div>


      <! --命令说明 -->
      <div v-show="view == 'help'">
          <h3>命令模式</h3>
          <p><kbd>:s</kbd> 获取所有专题 </p>
          <p><kbd>:s[:专题名]</kbd> 获取具体某个专题</p>
          <p><kbd>:top</kbd> 获取前端 top100 框架</p>
          
      </div>
    </div>
    <script src="../js/jquery.js"></script>
    <script src="../js/vue.min.js"></script>
    <script src="../js/store.min.js"></script>
    <script src="../js/jquery.hotkeys.js"></script>
    <script src="../js/main.js"></script>
  </body>
</html>